/* .rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;

  --stroke: #666;

  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  animation: idle 4s linear infinite;
  fill: transparent;
  height: 3rem;
  overflow: visible;
  stroke: var(--stroke);
  stroke-dasharray: 12;
  stroke-linejoin: bevel;
  transition: stroke 0.2s , fill 0.5s;
  width: 3rem;
}

@keyframes idle {

  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  animation: idle 4s linear infinite , yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-opacity: 0;
  stroke-width: 8px;
  transition: 0s;
}

@keyframes yippee {

  0% {
    fill: var(--fill);
    fill-opacity: 0;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-linejoin: bevel;
    stroke-opacity: 1;
    stroke-width: 1px;
    transform: scale(1);
  }

  30% {
    fill: var(--fill);
    fill-opacity: 0;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-linejoin: bevel;
    stroke-opacity: 1;
    stroke-width: 1px;
    transform: scale(0);
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    fill: var(--fill);
    transform: scale(1.2);
  }
} */

.rating {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
}

.rating:not( :checked ) > input {
  appearance: none;
}

.rating:not( :checked ) > label {
  color: #666;
  cursor: pointer;

  /* float: right; */
  font-size: 30px;
}

/* .rating:not( :checked ) > label:before {
  content: '★';
} */

.rating > input:checked ~ label {
  color: #ffa723;
}

.rating:not( :checked ) > label:hover, .rating:not( :checked ) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked + label:hover, .rating > input:checked ~ label:hover {
  color: #e58e09;
}

.rating > input:checked + label:hover ~ label {
  color: #e58e09;
}

.rating > input:checked ~ label:hover ~ label {
  color: #e58e09;
}

.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}
